* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Dancing Script", cursive; */
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  font-family: "Dancing Script", cursive;
  overflow-x: hidden;
}
.centerElementsRh {
  display: flex;
  justify-content: center;
}

.centerY {
  display: flex;
  align-items: center;
}
.centerX {
  display: flex;
  justify-content: center;
}
.centerXY {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerColX {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.centerColY {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.centerColXY {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divider {
  margin: 0;
  padding: 0;
  height: 3px;
  background-color: #ff7d00;
  border: none;
}
.appendDots {
  color: #ffbe33;
  display: flex;
  justify-content: center;
}
.slick-dots {
  display: flex !important;
  justify-content: flex-start;
  width: 100%;
}
.slick-dots .slick-active div {
  background-color: #ffbe33;
}
